/* Foundational styling of text and links */

h1, h2, h3, p {
    font-family: 'PT Sans', sans-serif;
    color: black;
}

div {
    text-align: center;
}

a {
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;

}

a:hover {
    color: grey;
  }

  .abcRioButton.abcRioButtonLightBlue { 
      margin: 0 auto;
    }

/* Background colours */

#headerBar {
    background-color: dodgerblue;
    padding: 0px;
    margin: 0px;
}

