/* Foundational styling of text and links */

h1, h2, h3, p {
    font-family: 'PT Sans', sans-serif;
    color: black;
}

div {
    text-align: center;
}

a {
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;

}

a:hover {
    color: black;
}

.abcRioButton.abcRioButtonLightBlue { 
    margin: 0 auto;
}

/* Background colours */

#headerBar {
    padding: 0px;
    margin: 0px;
}

/* Card columns */

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* Form  alignment */

.addForm .form-group.text-left {
    text-align: left;
}

div.form-group {
    text-align: left;
}

div.form-group#deleteButtons {
    align-content: center;
    text-align: center;
}

/* Flash messages */

#flashContainer {
    height: 50px;
    background-color: #F7A764;
    opacity: 0.5;
    border-radius: 10px;
    padding: 10;
    text-emphasis-color: black;
}

/* Cards */

div.card {
    background-color: white;
}

/* Backgrounds */

#landingPage {
    background-color: #455D7A;
}

#mainBody {
    background-color: #E8E8E8;
}

/* Redirect text */

.highlightText {
    color: white;
}

/* Navbar */

.navbar {
    background-color: #455D7A;
}

/* Button */

#editButton {
    background-color: grey;
    border: 0px;
}

#deleteButton {
    background-color: #F9AD66;
    border: 0px;
}

#editButton:hover, #deleteButton:hover {
    background-color: #455D7A;
}