/* Foundational styling of text and links */

h1, h2, h3, p {
    font-family: 'PT Sans', sans-serif;
    color: black;
}

div {
    text-align: center;
}

a {
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;

}

a:hover {
    color: black;
}

.abcRioButton.abcRioButtonLightBlue { 
    margin: 0 auto;
}

/* Background colours */

#headerBar {
    padding: 0px;
    margin: 0px;
}

#headerRow {
    margin: auto;
}

/* Card columns */

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* Form  alignment */

.addForm .form-group.text-left {
    text-align: left;
}

div.form-group {
    text-align: left;
}

div.form-group#deleteButtons {
    align-content: center;
    text-align: center;
}

/* Flash messages */

.alert-warning {
    background-color: #F9AD66;
    opacity: 0.6;
    border: 0;
    color: white;
    font-weight: 100;
}

/* Cards */

div.card {
    background-color: white;
}

#imgContainer {
    max-width: 100%;
    height: 150px;
    overflow: hidden;
}

#imgContainer #cardImg {
    height: auto;
    max-width: 100%;
}

/* Backgrounds */

#landingPage {
    background-color: #455D7A;
}

#mainBody {
    background-color: #f2f2f2;
}

/* Redirect text */

.highlightText {
    color: white;
}

.highlightText:hover {
    color: white;
}

/* Navbar */

.navbar {
    background-color: #455D7A;
}

/* Button */

#editButton, #addButton {
    background-color: grey;
    border: 0px;
}

#deleteButton {
    background-color: #F9AD66;
    border: 0px;
}

#editButton:hover, #deleteButton:hover, #addButton:hover {
    background-color: #455D7A;
}

.btn-link {
    color: black;
}
.btn-link:hover {
    color: #455D7A;
}

a#cardTitle:hover {
    color: #455D7A;
}

a.button {
    margin: auto;
    padding: auto;
}

#enterCatalog {
    background-color: #455D7A;
    color: white;
    border: 0;
}

.btn-file input[type=file] {
    background-color: black;
}

/* Fade in */

body {
    opacity: 1;
    transition: 1s opacity;
}
  
body.fade {
    opacity: 0;
    transition: none;
}

/* Card highlighting */

.card-columns .card:hover {
    background: #e6e6e6;
}

/* Welcome */

#welcome {
    width: 25%;
    height: 25%;
}

/* Required form fields */

input:invalid {
    border: 1px dashed #F9AD66;
}
  
input:valid {
    border: 1px solid #455D7A;
}

textarea:invalid {
    border: 1px dashed #F9AD66;
}
  
textarea:valid {
    border: 1px solid #455D7A;
}

select:invalid {
    border: 1px dashed #F9AD66;
}
  
select:valid {
    border: 1px solid #455D7A;
}

#exampleFormControlFile1 {
    border: 0px;
}