{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    </br>
    <div class="container">
        <a href = "{{url_for('newCategory')}}" class="btn btn-primary" id="addButton" style="display: none;">Add Category</a>
    </div>
    </br>
    {% if categories %}
        <div class="container-fluid">
            <div class="card-columns">
                {% for i in categories %}
                    <div class="card" style="width: 18rem;" id="cardContainer">
                        {% if i.image %}
                            <img src="../static/images/{{i.image}}" class="card-img-top" alt="..." style="opacity: 0.8;">
                        {% else %}
                            <img src="../static/images/alternative.jpg" class="card-img-top" alt="..." style="opacity: 0.8;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a id="cardTitle" href = "{{url_for('showItems', category_id = i.id)}}"> {{i.name}} </a></h5>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h3> There are currently no categories... </h3>
        </div>
    {% endif %}

{% endblock %}