{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </br></br>
    <div class="container">
        <a href = "{{url_for('newCategory')}}" id="addButton" style="display: none;">Add Category</a>
    </div>
    </br></br>
    {% if categories %}
        <div class="container-fluid">
            <div class="card-columns">
                {% for i in categories %}
                    <div class="card" style="width: 18rem;">
                        {% if i.image %}
                            <img src="../static/images/{{i.image}}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="../static/images/alternative.jpg" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href = "{{url_for('showItems', category_id = i.id)}}"> {{i.name}} </a></h5>
                            <a href="{{url_for('editCategory', category_id = i.id)}}" class="btn btn-primary btn-sm editButton" style="display: none;">Edit</a>
                            <a href="{{url_for('deleteCategory', category_id = i.id)}}" class="btn btn-primary btn-sm deleteButton" style="display: none;">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h3> There are currently no categories... </h3>
        </div>
    {% endif %}

{% endblock %}