{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <a href = "{{url_for('newCategory')}}" onclick="hideButtons();" id="addCategory" style="display: none;">Add Category</a>
    </br></br>
    {% if categories %}
        {% for i in categories %}
            <a href = "{{url_for('showItems', category_id = i.id)}}"> {{i.name}} </a>
            </br>
            <a href = "{{url_for('editCategory', category_id = i.id)}}" onclick="hideButtons();" class="editButton" style="display: none;"> Edit </a>
            </br>
            <a href = "{{url_for('deleteCategory', category_id = i.id)}}" onclick="hideButtons();" class="deleteButton" style="display: none;"> Delete</a>
            </br></br>
        {% endfor %}
    {% else %}
        <div>
            <h3> There are currently no categories... </h3>
        </div>
    {% endif %}

{% endblock %}