{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    </br></br>
    <div class="container" style="width: 50rem;">
        <div class="card">
            <div class="card-body">
                <h3>Delete Category</h3>
                </br>
                <form class="addForm" action="{{url_for('deleteItem', category_id=category_id, item_id=item_id)}}" method='post'>
                    <!-- Message -->
                    <div class="form-group">
                        <div class="container">
                            <h5> Are you sure you want to <i><u>delete</u></i> {{item_name}}?</h5>
                        </div>
                    </div>
                    </br>
                    <!-- Confirm / Cancel buttons -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <div class="form-group" id="deleteButtons">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                    <a href="{{url_for('showItems', category_id=category_id)}}" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                            <div class="col-sm"></div>
                        </div>
                    </div>                
                </form>
            </div>
        </div>
    </div>

{% endblock %}