<nav class="navbar">
    <div class=container-fluid id=headerBar>
        <!-- Logo & Home button -->
        <div class="d-flex justify-content-start">
            <a class="button" href="{{url_for('showCatalog')}}">
                <img class="highlightText" src="../../../../static/images/navbar_logo.png" alt="Excellerate" height=50>
            </a>
        </div>
        <!-- Add Sign In / Out button -->
        <div class="d-flex justify-content-end">
            <div class="g-signin2" data-onsuccess="onSignIn" id="signInButton"></div>
            <!-- Add a sign out button to sign out of App -->
            <a href="#" class="highlightText" onclick="signOut();" id="signOutButton" style="display: none;">Sign out</a>
            <!-- Result -->
            <div id="result"></div>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        </br>
        <div class="container">
            <div class="alert alert-warning" role="alert">
                <strong>{{message}}</strong>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}