{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

        <h1>Excellerate</h1>
        <h3>Take your sports equipment to the next level</h3>
        </br>
        <a href="{{url_for('newItem', category_id=category_id)}}">Add Item</a>
        </br>
        {% if items %}
            {% for i in items %}
                <p>{{i.title}}</p>
                <p>{{i.description}}</p>
                <a href="{{url_for('editItem', category_id=category_id, item_id=i.id)}}">Edit Item</a>
                </br>
                <a href="{{url_for('deleteItem', category_id=category_id, item_id=i.id)}}">Delete Item</a>
                <br><br>
            {% endfor %}
        {% else %}
            <div>
                <h3> There are currently no items for {{category_name}}... </h3>
            </div>
        {% endif %}

{% endblock %}