{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <a href="{{url_for('newItem', category_id=category_id)}}" id="addButton" style="display: none;">Add Item</a>
    </br>
    {% if items %}
        {% for i in items %}
            <p>{{i.title}}</p>
            <p>{{i.description}}</p>
            <a href="{{url_for('editItem', category_id=category_id, item_id=i.id)}}" class="btn btn-primary btn-sm editButton" style="display: none;">Edit Item</a>
            </br>
            <a href="{{url_for('deleteItem', category_id=category_id, item_id=i.id)}}" class="btn btn-primary btn-sm deleteButton" style="display: none;">Delete Item</a>
            <br><br>
        {% endfor %}
    {% else %}
        <div>
            <h3> There are currently no items for {{category_name}}... </h3>
        </div>
    {% endif %}

{% endblock %}