{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <!-- JavaScript libraries for interactive accordian -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
    <!-- Add item button -->
    </br></br>
    <div class="container">
        <a href="{{url_for('newItem', category_id=category_id)}}" id="addButton" style="display: none;">Add Item</a>
    </div>
    </br></br>
    <!-- Show items with Accordian -->
    <div class="container">
        {% if items %}
            <div class="accordion" id="accordionExample">
                {% for i in items %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne">{{i.title}}</button>									
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="container">
                                        {{i.description}}
                                    </div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="container">
                                        <a href="{{url_for('editItem', category_id=category_id, item_id=i.id)}}" class="btn btn-primary btn-sm editButton" id="editButton" style="display: none;">Edit Item</a>
                                        <a href="{{url_for('deleteItem', category_id=category_id, item_id=i.id)}}" class="btn btn-primary btn-sm deleteButton" id="deleteButton" style="display: none;">Delete Item</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h3> There are currently no items for {{category_name}}... </h3>
            </div>
        {% endif %}
    </div>
{% endblock %}